---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/aacumLd3.webp"
					alt="RAVELONANDRO Marie Gaella"
				/>
			</Hero>

			<section>
				<h2 class="section-title">A propos de moi : Passionné(e) de médecine</h2>
				<div class="content">
					<p>
						Depuis mon plus jeune âge, j'ai toujours été fasciné(e) par le corps humain et ses mystères. La complexité de ses systèmes, sa capacité à s'adapter et à guérir, et l'impact que la santé a sur la vie des gens m'ont toujours émerveillé(e). C'est cette fascination qui m'a conduit(e) à embrasser la médecine comme ma passion et ma vocation.
					</p>
				</div>
				<h2 class="section-title">La recherche au cœur de ma pratique</h2>
				<div class="content">
					<p>
						Ma passion pour la médecine ne se limite pas à la pratique clinique. Je suis également animé(e) par un désir constant d'apprendre et de contribuer à l'avancement des connaissances médicales. C'est pourquoi je m'implique activement dans la recherche, en explorant de nouvelles pistes pour prévenir et traiter les maladies.
					</p>
				</div>
				<h2 class="section-title">J'ai foulé les couloirs de la Faculté de Médecine de Tuléar : Un parcours passionné</h2>
				<div class="content">
					<p>
						Des années d'études intenses, rythmées par des cours captivants, des expériences pratiques enrichissantes et des rencontres inspirantes, ont forgé mon esprit scientifique et aiguisé mon sens de l'empathie.

						J'ai parcouru les couloirs de l'hôpital, côtoyé des patients aux parcours de vie uniques, et appris à les écouter avec attention, à comprendre leurs besoins et à les accompagner dans leur cheminement vers la guérison.

						Chaque jour était une nouvelle aventure, une occasion de découvrir de nouvelles facettes de la médecine et de me confronter aux défis complexes du système de santé.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Faculté de Médecine de Tulear</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
